{% extends 'map/base.html' %}
{% block title %}Change Password Done{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="d-flex justify-content-center">
                <div class="card-body text-center">
                    <p>Your password has been changed successfully.</p>
                    <a href="{% url 'profile' %}" class="btn btn-outline-dark">Back to profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}