{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-4 text-center">
                {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <h2 style="font-family: 'Lobster'; font-size: 40px;">Log In</h2>
                <div class="form-group my-2">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group my-3">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group my-3">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-outline-dark mb-3">Log In</button>
                        <div>
                            <small class="form-text">Don't have an account? Sign up <a href="{% url 'signup' %}">Here</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}