{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div>
        <img src="{{ request.user.profile.avatar.url }}">
    </div>
    <div>
    {% if user_form.errors %}
        {% for key, value in user_form.errors.items %}
            {{ value }}
        {% endfor %}
    {% endif %}
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>Change avatar:</label> {{ profile_form.avatar }}<hr>
                <label>Change username:</label> {{ user_form.username }}<hr>
                <label>Change email:</label> {{ user_form.email }}<hr>
                <a href="{% url 'password-change' %}">Change Password</a><hr>
                <label>Bio:</label> {{ profile_form.bio }}<hr>
            </div>
            <button type="submit">Save Changes</button>
            <button type="reset">Reset</button>
        </form>
    </div>
{% endblock content %}