{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-10 col-lg-4 offset-lg-4 text-center">
                <img style="width: 200px; height: 200px;" src="{{ request.user.userprofile.avatar.url }}">
                <div class="form-group mt-2">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in user_form %}
                            {% if field.errors %}
                               {% for error in field.errors %}
                                   <div class="alert alert-danger">
                                        {{field.label}}: {{ error|escape }}
                                   </div>
                               {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <div class="form-group my-2">
                            <label class="my-1">Username:</label>
                            <input type="text" class="form-control" name="username" value="{{ user_form.username.value }}">
                            <label class="my-1">Email:</label>
                            <input type="email" class="form-control" name="email" value="{{ user_form.email.value }}">
                            <label for="bio" class="my-1">Bio:</label>
                            <textarea class="form-control" id="bio" name="bio">{{ profile_form.bio.value }}</textarea>
                        </div>
                        <div class="form-group mb-2">
                            <label class="my-1">Change Avatar:</label>
                            <input type="file" class="form-control" name="avatar" value="{{ profile_form.avatar.value }}">
                        </div>
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <br>
                        <button type="submit" class="btn btn-outline-dark btn-lg my-3">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
