{% extends 'map/base.html' %}
{% load crispy_forms_tags %}}
{% block content %}
<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-5">
			<div class="card my-2">
				<div class="card-body text-center">
					<h4 class="my-header my-4">Change password</h4>
					<div class="form-group">
						<form method="POST">
							{% csrf_token %}
							{{ form|crispy }}
							<button type="submit" class="btn btn-dark mb-3">Change password</button></form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}