{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <img src="{{ request.location.photo.url }}">
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <label>Travel destination:</label> {{ form.name }}
            </div>
            <div>
                <label>Travel date:</label>{{ form.date }}
            </div>
            <div>
                <label>Add a short description:</label> {{ form.description }}
            </div>
            <div>
                <label>Add a photo:</label> {{ form.photo }}
            </div>
            <button type="submit">Save your journey!</button>
            <button type="reset">Reset</button>
        </div>

    </form>
</div>

<div>
    {{ m|safe }}
</div>

{% endblock %}