{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block title %}Photo Gallery{% endblock title%}
{% block content %}
<div class="container mt-3 text-center">
        <div class="row">
        <h2 style="font-family: 'Lobster'; font-size: 40px; margin-bottom: 10px">Photo gallery</h2>
        {% if photos %}
            {% for photo in photos %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbnail" src="{{ photo.photo.url }}">
                        <div class="card-body">
                            <small>{{ photo.marker.location }}</small><br>
                            <small>{{ photo.marker.date }}</small><br>
                            <small>{{ photo.marker.description }}</small><br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}