{% extends 'map/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<h3 class="my-header mt-5">Create new travel memory</h3>
	<div class="row">
		<div class="col-sm-12 col-md-5 mt-1">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy}}
						{{ photo_form|crispy }}
					</fieldset>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-outline-dark btn-lg my-3">Save your journey!</button>
					</div>
				</form>
		</div>
		<div class="col-sm-12 col-md-7">
			{{ folium_map|safe }}
		</div>
	</div>
</div>
{% endblock %}